.clear25{
	float:none;
	clear:both;
	height:25px;
}
.clear50{
	float:none;
	clear:both;
	height:50px;
}
.home-image{
	width:100%;
	height:500px;
	padding-top: 85px;
}
.w-adjust{
	width: calc(100% - 100px);
}

/* HOME */
.home-latest{
	height:250px;
}
.home-latest-single{
	height:250px;
}
.img-our-pick{
	height:150px;
}
/* SINGLE */
article{
	padding-top:85px;
}
.post-feat-img{
	height:450px;
}
.entry-content{
	top:-100px;
}
.nav-previous{
	width: 50%;
    float: left;
	padding:0px 15px;
}
.nav-next{
	width: 50%;
    float: right;
	text-align:right;
	padding:0px 100px;
}
.nav-previous div, .nav-next div{
	padding: 10px;
	width:300px;
	text-align:center !important;
}

#siteLogin{
	padding:40px;
}
#siteLogin .form-control{
	border:1px solid #FFF;
}
#siteLogin ::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}
#siteLogin :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
}
#siteLogin ::-ms-input-placeholder { /* Microsoft Edge */
   color: white;
}

/* SINGLE */
.yarpp-related{
	margin-top:50px !important;
}
/* Large desktops and laptops */
@media (min-width: 1200px) {
	
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	
}