body{
	font-family: 'Avenir-Medium';
}
strong{
	font-family: 'Avenir-Black';
}
.main-content{
	width: 100%;
	padding-left: 215px;
	padding-right: 15px;
}

.opacity0{
	opacity: 0;
}
.opacity25{
	opacity: .25;
}
.opacity50{
	opacity: .5;
}
.opacity75{
	opacity: .75;
}
textarea{
	height: 80px !important;
}
select{
	height: 36px !important;
}
/* Large desktops and laptops */
@media (min-width: 1200px) {
	
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	.home-latest{
		height:auto !important;
		border-bottom: 1px solid #CCC;
		padding-bottom: 30px;
	}
	.latest-text{
		height:200px !important;
	}
	aside{
		paddin-top:50px;
	}
}