.btn-square{
	border-radius:0px !important;
	border: 0px !important;
}
.btn-square:hover{
	color:var(--color-white);
	background:var(--color-pccCyan);
}
.btn-oval{
	border-radius:20px;
}
.btn-long{
	width:100%;
}
.btn-bottom{
	z-index:999;
}

.btn-circle{
	border-radius: 50%;
}
.btn-xs{
	padding: 0.1rem .5rem;
    font-size: .7rem;
}