@charset "UTF-8";
/* CSS Document */
:root {
  --color-grey: #333;
  --color-lightGrey: #d1d1d1;
  --color-whiteGrey: #f4f4f4;
  --color-white: #FFF;
  --color-black: #000;

  --color-levuAzul: #00AEEF;
  --color-levuGris: #808080;

  --color-fb: #3B5998;
  --color-google:#DB4437;
  --color-py: #003087;
  --color-ox:#efb341;
}

.color-white{
	color:var(--color-white) !important;
}
.color-black{
	color:var(--color-black);
}
.color-grey{
	color:var(--color-grey);
}
.color-whiteGrey{
	color:var(--color-whiteGrey);
}
.color-lightGrey{
	color:var(--color-lightGrey);
}

.color-levuAzul{
	color:var(--color-levuAzul) !important;
}

.bg-transparent{
	background:none !important;
}
.bg-white{
	background:var(--color-white);
}
.bg-black{
	background:var(--color-black);
}
.bg-grey{
	background:var(--color-grey);
}
.bg-whiteGrey{
	background:var(--color-whiteGrey);
}
.bg-lightGrey{
	background:var(--color-lightGrey);
}

.bg-levuAzul{
	background:var(--color-levuAzul);
}

.bg-fb{
	background:var(--color-fb);
}
.bg-google{
	background:var(--color-google);
}
.bg-py{
	background:var(--color-py);
}
.bg-ox{
	background:var(--color-ox);
}
