.font-9{
	font-size:9px !important;
}
.font-10{
	font-size:10px !important;
}
.font-12{
	font-size:12px !important;
}
.font-14{
	font-size:14px !important;
}
.font-16{
	font-size:16px !important;
}
.font-18{
	font-size:18px !important;
}
.font-20{
	font-size:20px !important;
	line-height: 20px;
}
.font-22{
	font-size:22px !important;
}
.font-24{
	font-size:24px !important;
}
.font-26{
	font-size:26px !important;
}
.font-28{
	font-size:28px !important;
}
.font-32{
	font-size:32px !important;
}
.font-36{
	font-size:36px !important;
}
.font-48{
	font-size:48px !important;
}
.font-60{
	font-size:60px !important;
}