.mcenter{
	margin:0 auto;
}
.m0 {
	margin:0;
}
.m5{
	margin: 5px;
}
.m10{
	margin: 10px;
}

.mt0 {
	margin-top:0;
}
.mt-5{
	margin-top:5px;
}
.mt-10{
	margin-top:10px;
}
.mt-15{
	margin-top:15px;
}
.mt-20{
	margin-top:20px;
}
.mt-25{
	margin-top:25px;
}
.mt-30{
	margin-top:30px;
}
.mt-35{
	margin-top:35px;
}
.mt-40{
	margin-top:40px;
}
.mt-50{
	margin-top:50px;
}
.mt-70{
	margin-top:70px;
}
.mt-150{
    margin-top: 150px;
}
.mt-175{
    margin-top: 175px;
}


.mr0 {
	margin-right:0;
}
.mr-5{
	margin-right:5px;
}
.mr-10{
	margin-right:10px;
}
.mr-15{
	margin-right:15px;
}
.mr-20{
	margin-right:20px;
}
.mr-25{
	margin-right:25px;
}
.mr-30{
	margin-right:30px;
}

.mb0 {
	margin-bottom:0;
}
.mb-5{
	margin-bottom:5px;
}
.mb-10{
	margin-bottom:10px;
}
.mb-15{
	margin-bottom:15px;
}
.mb-20{
	margin-bottom:20px;
}
.mb-25{
	margin-bottom:25px;
}
.mb-30{
	margin-bottom:30px;
}
.mb-40{
	margin-bottom:40px;
}
.mb-50{
	margin-bottom:50px;
}
.mb-100{
	margin-bottom:100px;
}
.mb-150{
	margin-bottom:150px;
}

.ml0 {
	margin-left:0;
}
.ml-5{
	margin-left:5px;
}
.ml-10{
	margin-left:10px;
}
.ml-15{
	margin-left:15px;
}
.ml-20{
	margin-left:20px;
}
.ml-25{
	margin-left:25px;
}
.ml-30{
	margin-left:30px;
}
/* Large desktops and laptops */
@media (min-width: 1200px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
}