.p0 {
	padding:0;
}
.p5{
	padding:5px;
}
.p10{
	padding:10px;
}
.p15{
	padding:15px;
}
.p20{
	padding:20px;
}
.p40{
	padding:40px;
}
.pt0 {
	padding-top:0;
}
.pt-10{
	padding-top:10px;
}
.pt-15{
	padding-top:15px;
}
.pt-20{
	padding-top:20px;
}
.pt-25{
	padding-top:25px;
}
.pt-30{
	padding-top:30px;
}
.pt-35{
	padding-top:35px;
}
.pt-40{
	padding-top:40px;
}
.pt-45{
	padding-top:45px;
}
.pt-50{
	padding-top:50px;
}
.pt-75{
	padding-top:75px;
}
.pt-85{
	padding-top:85px;
}
.pt-100{
    padding-top: 100px;
}
.pt-125{
    padding-top: 125px;
}
.pt-200{
	padding-top: 200px;
}

.pr0 {
	padding-right:0;
}
.pr-10{
	padding-right:10px;
}
.pr-15{
	padding-right:15px;
}
.pr-20{
	padding-right:20px;
}
.pr-25{
	padding-right:25px;
}
.pr-30{
	padding-right:30px;
}
.pr-50{
	padding-right:50px;
}
.pr-75{
	padding-right:75px;
}
.pr-125{
	padding-right:125px;
}


.pb0 {
	padding-bottom:0;
}
.pb-10{
	padding-bottom:10px;
}
.pb-15{
	padding-bottom:15px;
}
.pb-20{
	padding-bottom:20px;
}
.pb-25{
	padding-bottom:25px;
}
.pb-30{
	padding-bottom:30px;
}
.pb-50{
	padding-bottom:50px;
}
.pb-75{
	padding-bottom:75px;
}
.pb-100{
	padding-bottom:100px;
}
.pb-125{
	padding-bottom:125px;
}


.pl0 {
	padding-left:0;
}
.pl-10{
	padding-left:10px;
}
.pl-15{
	padding-left:15px;
}
.pl-20{
	padding-left:20px;
}
.pl-25{
	padding-left:25px;
}
.pl-30{
	padding-left:30px;
}
.pl-50{
	padding-left:50px;
}
.pl-75{
	padding-left:75px;
}
.pl-105{
	padding-left:105px;
}
.pl-125{
	padding-left:125px;
}


/* Large desktops and laptops */
@media (min-width: 1200px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	.pt-200{
		padding-top:0;
	}
}