.relative{
	position:relative;
}
.absolute{
	position:absolute;
}
.fixed{
	position:fixed;
}
.z0{
	z-index:0;
}

.pull-center{
	margin-left:auto !important;
	margin-right:auto !important;
	float:none;
}
.display_table{
	display:table;
}
.display_middle{
    display: table-cell;
    vertical-align: middle;
}

.bottom{
	display: flex;
    align-items: flex-end;
}
.middle{
	display: flex;
    align-items: center;
}
.middle-middle{
	justify-content: center;
}
.middle-left{
	justify-content: left;
}
.middle-right{
	justify-content: right;
}

.top-5{
	top:-5px;
}
.top0{
	top:0;
}
.top5{
	top:5px;
}
.top10{
	top:10px;
}
.top15{
	top:15px;
}
.top20{
	top:20px;
}
.top25{
	top:25px;
}
.top30{
	top:30px;
}

.top50pct{
	top:50%;
}


.right0{
	right:0;
}
.right5{
	right:5px;
}
.right10{
	right:10px;
}
.right15{
	right:15px;
}
.right20{
	right:20px;
}
.right25{
	right:25px;
}
.right50{
	right:50px;
}
.right60{
	right:60px;
}

.left0{
	left:0;
}
.left5{
	left:5px;
}
.left10{
	left:10px;
}
.left15{
	left:15px;
}
.left20{
	left:20px;
}
.left25{
	left:25px;
}

.bottom0{
	bottom:0;
}
.bottom5{
	bottom:5px;
}
.bottom10{
	bottom:10px;
}
.bottom15{
	bottom:15px;
}
.bottom20{
	bottom:20px;
}
.bottom25{
	bottom:25px;
}
.bottom50{
	bottom:50px;
}
.bottom60{
	bottom:60px;
}
.bottom10pct{
	bottom:10%;
}