.wrapper-2 {
  width: 100%;
  margin: 0 auto;
}

/*style for img in case of low download speed*/

.example-2 {
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 100vh;
}

.example-2 ul {
  overflow: hidden;
  margin: 0;
  zoom: 1;
  padding: 0;
  height: 100%;
}

.example-2 ul li { float: left; overflow: hidden; }

.example-2 ul li img { width: 100%; }

.dots-2 {
  position: absolute;
  bottom: 20px;
  left: 10%;
  width: 300px;
  margin: 0 0 0 -150px;
  padding: 0;
  text-align: center;
}

.dots-2 li {
  display: inline-block;
 *display: inline;
 *zoom: 1;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.dots-2 li:hover, .dots-2 li.active { background: #ff7f02; }