/* ASIDE */
aside{
	padding-top: 70px !important;
	height: 100vh;
	width:175px;
	z-index: 9998;
}
aside a{
	color:var(--color-white) !important;
}
aside ul{
	list-style:none;
}
aside ul li ul{
	display:none;
}
/* Large desktops and laptops */
@media (min-width: 1200px) {
	
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	aside{
		width:40px;
	}
}