body{
	font-family: 'Avenir-Medium';
}
strong{
	font-family: 'Avenir-Black';
}
/* CHECKBOX */
.custom-checkbox input[type="checkbox"]{
	opacity: 0;
	position:absolute;
}
.custom-checkbox label {
    position: relative;
    display: inline-block;
    
    /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
    padding-left: 22px;
}

.custom-checkbox label::before,
.custom-checkbox label::after {
    position: absolute;
    content: "";
    
    /*Needed for the line-height to take effect*/
    display: inline-block;
}

/*Outer box of the fake checkbox*/
.custom-checkbox label::before{
    height: 16px;
    width: 16px;
    
    border: 1px solid #ccc;
	border-radius:3px;
    left: 0px;
    
    /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */
    top: 0px;
}

/*Checkmark of the fake checkbox*/
.custom-checkbox label::after {
    height: 5px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    
    transform: rotate(-45deg);
    
    left: 4px;
    top: 4px;
}

/*Hide the checkmark by default*/
.custom-checkbox input[type="checkbox"] + label::after {
    content: none;
}

/*Unhide on the checked state*/
.custom-checkbox input[type="checkbox"]:checked + label::after {
    content: "";
}

/* **** // CHECKBOX */

.modal-footer{
	display:block;
}
.tooltip.in{
	opacity:1 !important;
}
.tooltip-inner {
    background-color: var(--color-levuAzul);
}
.tooltip.bottom .tooltip-arrow, .tooltip.bottom-left .tooltip-arrow, .tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: var(--color-levuAzul) !important;
}
body .ui-tooltip{
    background: var(--color-levuAzul);
    opacity: 1;
    padding: 5px;
    font-size: 12px;
    color: #fff;
    border: none !important;
}
.tr-user-child td{
	border:none !important;
}	
#mainOverlay{
	display:none;
	background:rgba(255,255,255,.75);
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:99999;
}
main.console{
	padding-top: 55px;
}
.main-content{
	width: 100%;
	padding-left: 190px;
	padding-right: 15px;
}

.card-header{
	border-bottom:none !important;
}
.card-title{
	border-bottom:5px solid var(--color-levuAzul);
}
.card-columns{
	-webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}
table.borderless td, table.borderless th {
    border: none !important;
}

.masonry-elmnt{
	display: inline-block;
  vertical-align: middle;
}
.opacity0{
	opacity: 0;
}
.opacity25{
	opacity: .25;
}
.opacity50{
	opacity: .5;
}
.opacity75{
	opacity: .75;
}
#mainModal{
	background: rgba(0,0,0,.75);
    height: 100vh;
    position: fixed;
    z-index: 9999;
    top: 0;
    display: none;
}
.modal-header{
	display: block;
}
.modal-content{
	max-height: calc(100vh - 100px);
	overflow: auto !important;
}
.modal.show{
	display: flex !important;
}
.modal-body{
	width: 100%;
	/*overflow:auto !important;*/
}
.modal-header{
	border: none !important;
}
.pointer{
	cursor:pointer;
}
textarea{
	height: 80px !important;
}
select{
	height: 36px !important;
}

.levuTabs{
	border:2px solid var(--color-whiteGrey);
	background:var(--color-white);
	border-radius: 0px 15px 0px 0px;
}
.levuTabs.active{
	border:2px solid var(--color-whiteGrey);
	background: var(--color-levuAzul);
	color:var(--color-white);
}

.profilePic{
	width:200px;
	height:200px;
	border-radius:50%;
	border:5px solid var(--color-levuAzul);
}
.enterprisePic{
	width:100px;
	height:100px;
	border-radius:50%;
	border:5px solid var(--color-levuAzul);
}
.empresaIcons{
	width:25px;
	height:25px;
	border-radius:50%;
}

.border-levuAzul{
	border-color: var(--color-levuAzul) !important;
}
.border-5{
	border-width:5px !important;
}
.profileIcon{
	width:50px;
	height:50px;
	border-radius:50%;
}
.profileIcon img{
	width:30px;
}

.updatePwdDiv{
	display:none;
}
.sueldoMensual{
	width: 30%;
}
/* PRINT */
body.print header{
	position:relative !important;
	background:#FFF !important;
}

/* EXTRA */
.mobileShow{
	display:none !important;
}
#tabDatosVacante, #tabElmntIndispensables, #tabCulturaEmpresa, #tabCandidatos{
	display:none;
}
/* Large desktops and laptops */
@media (min-width: 1200px) {
	
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	h1{
		font-size:24px;
	}
	h2{
	    font-size: 22px;
	}
	.mobileHide{
		display:none !important;
	}
	.mobileShow{
		display:block !important;
	}
	.main-content{
		padding-left:40px;
	}
	.profilePic{
		width:100px;
		height:100px;
	}
	.candidatoInfo{
		padding-left:15px !important;
		padding-right:15px !important;
	}
	.candidatoInfo .tableHead{
		margin-left:15px;
	}
	.candidatoInfo .tableHead td{
		padding-left:0px !important;
	}
	.card{
		border:none;
	}
	.card-body{
		padding:0;
	}
	.compensacionesForm{
		margin:0;
		padding-right:0 !important;
	}
	.compensacionesForm .form-control{
		width:75%;
	}
	.compensacionesForm td{
		padding:3px !important;
	}
	.compensacionesForm label{
		margin:0 !important;
	}
	.refsBtn{
		text-align:left !important;
	}
	#tabDatosVacante, #tabElmntIndispensables, #tabCulturaEmpresa, #tabCandidatos{
		display:block;
	}
	.vacanteList{
		margin:0 !important;
	}
	.mobileTextLeft{
		text-align:left !important;
	}
}