#openVacants, #closedVacants, #vacantsClosedWithHiring, #vacantsClosedWithOutHiring, #sellers, #vacantsWithAssurance {
    width: 400px;
     height:350px;
     overflow-x: scroll;
     overflow-y: hidden;
}

#totalSecfits {
    width: 100%;
    height: 250;
    overflow-x: scroll;
    overflow-y: hidden;
    text-align: center;
}
