/* FONTS */
@font-face {
    font-family: 'CenturyGothic';
    src: url('/fonts/CenturyGothic.eot');
    src: url('/fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/CenturyGothic.woff2') format('woff2'),
        url('/fonts/CenturyGothic.woff') format('woff'),
        url('/fonts/CenturyGothic.ttf') format('truetype'),
        url('/fonts/CenturyGothic.svg#CenturyGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothicBold';
    src: url('/fonts/CenturyGothic-Bold.eot');
    src: url('/fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/CenturyGothic-Bold.woff2') format('woff2'),
        url('/fonts/CenturyGothic-Bold.woff') format('woff'),
        url('/fonts/CenturyGothic-Bold.ttf') format('truetype'),
        url('/fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* ---- */

@font-face {
    font-family: 'Avenir-Medium';
    src: url('/fonts/Avenir-Medium.eot');
    src: url('/fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Avenir-Medium.woff2') format('woff2'),
        url('/fonts/Avenir-Medium.woff') format('woff'),
        url('/fonts/Avenir-Medium.ttf') format('truetype'),
        url('/fonts/Avenir-Medium.svg#Avenir-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Black';
    src: url('/fonts/Avenir-Black.eot');
    src: url('/fonts/Avenir-Black.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Avenir-Black.woff2') format('woff2'),
        url('/fonts/Avenir-Black.woff') format('woff'),
        url('/fonts/Avenir-Black.ttf') format('truetype'),
        url('/fonts/Avenir-Black.svg#Avenir-Black') format('svg');
    font-weight: bold;
    font-style: normal;
}

