/* HEADER */
header{
	position: absolute;
	width: 100%;
	z-index: 9999;
}
header #logo{
	height:75px;
}
header nav{
	width: 100%;
	z-index: 9999;
}
@keyframes stickyAnim {
    from {top: -50px;}
    to {top: 0px;}
}
header.sticky{
	position: fixed !important;
	animation-name: stickyAnim;
    animation-duration: 1s;
	box-shadow: 0px 1px 5px #CCC;
}
header.sticky nav{
	padding-top: 0px !important;
    padding-bottom: 0px !important;
}
header.sticky #logo{
	height: 40px;
}
header.sticky ul{
    padding: 0px 0px 0px 0px !important;
    min-height: 100%;
}

#menu-bars{
	display:none;
	z-index:9999;
}

#siteLogin{
	padding:40px;
	width:400px; display:none; top:85px;
}
#siteLogin .form-control{
	border:1px solid #FFF;
}
#siteLogin ::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}
#siteLogin :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
}
#siteLogin ::-ms-input-placeholder { /* Microsoft Edge */
   color: white;
}
/* Large desktops and laptops */
@media (min-width: 1200px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	#menu-bars{
		display:block;
	}
	header #logo{
		height:50px;
	}
	#main-menu{
		display:none;
		padding-top: 70px !important;
	}
	#siteLogin{
		display:none !important;
		width:100%;
		top:55px;
		z-index:9999;
	}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	#siteLogin{
		display:none !important;
		width:100%;
		top:55px;
		z-index:9999;
	}
}