main{
	overflow:hidden;
}
#side-line{
	position: absolute;
	top: 85px;
	width: 100px;
	/*min-height: calc(100vh - 85px);*/
}
#side-line-inner{
	border-right:1px solid var(--color-levuAzul);
}
#side-line .side-bullet{
	width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--color-levuAzul);
    position: absolute;
    left: calc(50% + 15px);
}
#side-line .side-bullet:after{
	width: 26px;
    height: 26px;
    border-radius: 50%;
    position: absolute;
    content: '';
    display: block;
    border: 1px solid var(--color-levuAzul);
    top: -3px;
    left: -3px; 
}

#side-line #contact-us-side-bullet{
	width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--color-white);
    position: absolute;
    left: calc(50% + 15px);
}
#side-line #contact-us-side-bullet:after{
	width: 26px;
    height: 26px;
    border-radius: 50%;
    position: absolute;
    content: '';
    display: block;
    border: 1px solid var(--color-white);
    top: -3px;
    left: -3px; 
}
#side-line .side-bullet span{
	position: absolute;
    left: 30px;
}
#mainOfis{
    display: none;
}
g#mty, g#cdmx, g#torreon, g#madrid, g#gdl{
    cursor: pointer;
}
.w-adjust{
	width: calc(100% - 100px);
}
/* SITE */
#home{
	min-height: calc(100vh - 85px);
	height: auto;
	background: url(/img/site/bg-2.png) no-repeat bottom center;
	background-size: contain;
    padding-top: 85px;
}
#home-bg{
	background: url(/img/site/bg-inicio.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 85px);
    margin-left:100px;
}

#mainOfis{
	background:#FFF; width:50%; left: 25%; top: 20%;
}
@keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}
@keyframes fadeBottomToTop {
    from {top:50px; opacity:0;}
    to {top:0; opacity:1;}
}
@keyframes fadeLeftToRight {
    from {left: -50px; opacity:0;}
    to {left: 0px; opacity:1;}
}
@keyframes fadeRightToLeft {
    from {right: -50px; opacity:0;}
    to {right: 0px; opacity:1;}
}
@keyframes slideLeftToRight {
    from {left:-100%;}
    to {left:0;}
}
@keyframes slideRightToLeft {
    from {right:-100%;}
    to {right:0;}
}

#home #welcome-text.anim{
	left:50px;
	opacity:0;
}
#home #welcome-text.active{
	animation-name: fadeLeftToRight;
    animation-duration: 1s;
	left:0px !important;
	opacity:1 !important;
}
#home #videoPresetation.anim{
	opacity:0;
}
#home #videoPresetation.active{
	animation-name: fadeIn;
    animation-duration: 1s;
	opacity:1 !important;
}
#home #videoTexts .anim:nth-child(1){
	left:0px;
	opacity:0;
}
#home #videoTexts .anim:nth-child(2){
	right:0px;
	opacity:0;
}
#home #videoTexts .active:nth-child(1){
	animation-name: fadeLeftToRight;
    animation-duration: 1s;
	left:0px !important;
	opacity:1 !important;
}
#home #videoTexts .active:nth-child(2){
	animation-name: fadeRightToLeft;
    animation-duration: 1s;
	right:0px !important;
	opacity:1 !important;
}

#slogan1{
	left:-100%;
}
#slogan1.active{
	animation-name: slideLeftToRight;
    animation-duration: .5s;
	left:0px !important;
}
#slogan2{
	right:-100%;
}
#slogan2.active{
	animation-name: slideRightToLeft;
    animation-duration: .5s;
	right:0px !important;
}


#our-method{
	background: linear-gradient(to bottom, rgba(244,244,244,1), rgba(244,244,244,0), rgba(244,244,244,1)), url(/img/site/bg-3.jpg) no-repeat bottom center;
	background-size: cover;
}
#our-method #our-method-t1, #our-method #our-method-t2, #our-method #our-method-t3{
	top:50px;
	opacity:0;
}
#our-method #our-method-t1.active, #our-method #our-method-t2.active, #our-method #our-method-t3.active{
	animation-name: fadeBottomToTop;
    animation-duration: 1s;
	top:0 !important;
	opacity:1 !important;
}
#our-method, #services, #contact-us, #contact-form{
	height: 100vh;
}

@keyframes fadeGrow {
    from {transform: scale(.1); opacity:0;}
    to {transform: scale(1); opacity:1;}
}
#services-t1 h3, #services-t2, #services-t3, #services-t4{
	transform: scale(.1);
	opacity:0;
}
#services-t1 h3.active, #services-t2.active, #services-t3.active, #services-t4.active{
	animation-name: fadeGrow;
    animation-duration: 1s;
	transform: scale(1) !important;
	opacity:1 !important;
}
.services-box{
	height: 261px;
}

#contact_us_heading{
	opacity:0;
}
#contact_us_heading.active{
	animation-name: fadeGrow;
    animation-duration: 1s;
	opacity:1 !important;
}
#contact_us_heading svg{
	height:100%;
}
#contact-form{
	background: linear-gradient(to bottom, rgba(244,244,244,1), rgba(244,244,244,0), rgba(244,244,244,1)), url(/img/site/bg-4.jpg) no-repeat bottom center;
	background-size: cover;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
	
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	#side-line{
		display:none;
	}
	.w-adjust{
		width:100%;
	}
	#home-bg{
		margin-left: 0;
	}
	#home{
		min-height: calc(100vh - 60px) !important;
		padding-top: 60px !important;
	}
	#welcome-text{
		position: relative;
		width: 100%;
		min-width: 100%;
	}
	#videoTexts, #videoTexts h2{
		text-align:left !important;
	}
	#videoTexts span{
		left:0;
	}
	#videoTexts div div{
		padding:0 !important;
	}
	#our-method, #services, #contact-us, #contact-form{
		min-height:100vh;
		height:auto !important;
	}
	#our-method-t2 div, #our-method-t3 div{
		padding:0 !important;
	}
	#mainOfis{
		background:#FFF; width:100%; left: 0; top: -30%;
	}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
}